<div style="height: 100%;margin-top: 10px;" class="card">
    <div class="card-header" style="font-weight: bold;color: rgb(25, 91, 167);font-family:  'Arial Narrow', Arial, sans-serif;">Appelez-nous</div>
    <div style="background-color:#fff;" class="" >
       <br>
        <h3 style="color:black;font-weight: bold;">Téléphone</h3>
        <H4 >28 843 031</H4>
        <br>
        <br>
        <h2  style="font-weight: bold;color: rgb(25, 91, 167);font-family:  'Arial Narrow', Arial, sans-serif;font-size: 23px;" ><b>Horaires de service</b></h2>
        <h4> Lundi au Vendredi de 9h à 18h </h4>
    </div>
  </div>

