<section class="h-100 h-custom" style="background-color: black;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">    
        <!-- Navbar-->
<carousel [pauseOnFocus]="false">
          
    <slide>
      <img src="/assets/pub-haut1.png" alt="Second slide" style="display: block; width: 100%;">
    
    </slide>
    <slide>
      <img src="/assets/pub-haut2.png" alt="Third slide" style="display: block; width: 100%;">
      
    </slide>
    
  </carousel>
</div>
</div>
</div>
</section>