    <!-- top navigation bar -->
    <app-admin-navbar></app-admin-navbar>
    <!-- top navigation bar -->

    <div class="row">
        <div class="col-2">
            <!-- sidebar -->
            <app-admin-sidebar></app-admin-sidebar>
            <!-- sidebar -->
        </div>
        <div class="col-10"> 
          <section class="h-100 h-custom" >
            <div class="container py-2 h-100">
              <div class="row d-flex justify-content-center  h-100">
                <div class="col-12">  
                <main class="mt-5 pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="row">
                              <div class="col-4">
                                <h4  class="d-flex justify-content-center" style="font-size: 35px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" > <i class="fas fa-trash-alt"></i></h4>
                              </div>
                              <div class="col-8">
                                <h4  class="d-flex justify-content" style="font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >Gérer Utilisateurs</h4>
                                              </div>
                            </div>      
                            <br>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="card">
                        <div class="card-header" style="color: rgb(121, 121, 121);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                          <span><i class="bi bi-table me-2"></i></span> List des utilisateurs
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nom et Prenom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Bloquer</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let i of dataa;let index = index ">
                                      <th scope="row">{{i._id}}</th>
                                      <td>{{i.nomUser}} {{i.prenomUser}}</td>
                                      <td>{{i.emailUser}}</td>
                                      <td>{{i.telephoneUser}}</td>
                                      <td *ngIf="i.bloque == 1"  (click)="bloque(i._id)"><a href="admin/gerer-user" style="font-weight:bold;color :rgb(75, 235, 44)">bloqué</a></td>
                                      <td *ngIf="i.bloque == 0"  (click)="debloque(i._id)"><a href="admin/gerer-user" style="font-weight:bold;color :rgb(235, 44, 44)" >débloqué</a></td>
                                 
                                  </tr>
                                </tbody>
                              </table> 
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </main>
                </div>
              </div>
            </div>
          </section>


    </div>
  </div>
   
    <!-- offcanvas -->
  
 
