
<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">      
  <div  class="col-12 text-center ">
    <img style="width: 80px;height: 80px;"src="/assets/centre-assistance.png">
    <h1 style="color: brown;font-size: 40px;"><b>Administartion</b></h1>
  <br>
</div>
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
                <div class="col-lg-6 mb-2" >
     
                    <div class="card bg-primary text-white rounded-3">
               <div class="card-body">
                 <div class="d-flex justify-content-between align-items-center mb-4">
                   <h5 class="mb-0">PRODUIT</h5>
                   <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                     <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                   </svg>
                 </div>
                 <a href="admin/gerer-categorie" >
                    <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-start">
                          <span></span>
                          <span>Gérer les catégories</span>
                        </div>
                      </button>
                 </a>      
           
                 <a href="admin/gerer-sous-categorie">
                    <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-start">
                          <span></span>
                          <span>Gérer les sous catégories</span>
                        </div>
                      </button>
                 </a>     

                 <a href="admin/gerer-marque" >
                    <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-start">
                          <span></span>
                          <span>Gérer les marques</span>
                        </div>
                      </button>
                 </a>     

                 <a href="admin/gerer-produit" >
                    <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-start">
                          <span></span>
                          <span>Gérer les produits</span>
                        </div>
                      </button>
                 </a>     

               </div>
             </div>

           </div>



           <div class="col-lg-6 mb-2" >
     
            <div class="card bg-light text-white rounded-3">
        <div class="card-body">
         <div class="d-flex justify-content-between align-items-center mb-4">
           <h5 class="mb-0">PUBLICITES</h5>
           <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
             <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
           </svg>
         </div>   
         <a href="admin/pub-haut"> 
         <button type="button" class="btn btn-light btn-block btn-lg">
           <div class="d-flex justify-content-start">
             <span></span>
             <span>Publicités en haut</span>
           </div>
         </button>
        </a>   
        <a href="admin/pub-principale"> 
            <button type="button" class="btn btn-light btn-block btn-lg">
              <div class="d-flex justify-content-start">
                <span></span>
                <span>Publicités principale</span>
              </div>
            </button>
        </a>   
        <a href="admin/pub-droite"> 
            <button type="button" class="btn btn-light btn-block btn-lg">
              <div class="d-flex justify-content-start">
                <span></span>
                <span>Publicités à droite</span>
              </div>
            </button>
           </a> 
           <a href="admin/pub-milieu"> 
            <button type="button" class="btn btn-light btn-block btn-lg">
              <div class="d-flex justify-content-start">
                <span></span>
                <span>Publicités au milieu</span>
              </div>
            </button>
           </a> 
        
           <a href="admin/pub-bas"> 
            <button type="button" class="btn btn-light btn-block btn-lg">
              <div class="d-flex justify-content-start">
                <span></span>
                <span>Publicités en bas</span>
              </div>
            </button>
           </a> 
        </div>
        </div>
        
        </div>





           <div class="col-lg-6 mb-2" >
     
            <div class="card bg-success text-white rounded-3">
       <div class="card-body">
         <div class="d-flex justify-content-between align-items-center mb-4">
           <h5 class="mb-0">COMMANDES</h5>
           <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
             <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
           </svg>
         </div>   
         <a href="admin/gerer-marque" >
         <button type="button" class="btn btn-success btn-block btn-lg">
           <div class="d-flex justify-content-start">
             <span></span>
             <span>List des Commandes</span>
           </div>
         </button>
        </a>   
       </div>
     </div>

   </div>







   <div class="col-lg-6 mb-2" >
     
    <div class="card bg-warning text-white rounded-3">
<div class="card-body">
 <div class="d-flex justify-content-between align-items-center mb-4">
   <h5 class="mb-0">USERS</h5>
   <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
     <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
   </svg>
 </div>    
 <a href="admin/gerer-user" >
    <button type="button" style="color: aliceblue;" class="btn btn-warning btn-block btn-lg">
        <div class="d-flex justify-content-start">
          <span></span>
          <span>Gérer les utilisateurs</span>
        </div>
      </button>
 </a> 
 <a href="admin/gerer-assistance" >
    <button type="button" style="color: aliceblue;" class="btn btn-warning btn-block btn-lg">
        <div class="d-flex justify-content-start">
          <span></span>
          <span>Gérer les assistances</span>
        </div>
      </button>
 </a>     


</div>
</div>

</div>





              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
