<div
class="offcanvas offcanvas-start sidebar-nav bg-dark"
tabindex="-1" style="height: 100%;"
id="sidebar"
>
<!-- User -->
<div class="offcanvas-body p-0">
  <nav class="navbar-dark">
    <ul class="navbar-nav">
      <li>
        <div class="text-muted small fw-bold text-uppercase px-3">
          CORE
        </div>
      </li>
      <li>
        <a href="#" class="nav-link px-3 active">
          <span class="me-2"><i class="bi bi-speedometer2"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
      <li>
        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
          Utilisateurs
        </div>
      </li>
      <!--gerer user-->
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/gerer-user"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Gérer les utilisateurs</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
     <!--gerer assistance-->
     <li>
      <a class="nav-link px-3 sidebar-link"
        data-bs-toggle="collapse"
        href="admin/gerer-assistance"
      >
        <span class="me-2"><i class="bi bi-layout-split"></i></span>
        <span>Gérer les assistances</span>
      </a>
      <div class="collapse" id="layouts">
        <ul class="navbar-nav ps-3">
          <li>
            <a href="#" class="nav-link px-3">
              <span class="me-2"
                ><i class="bi bi-speedometer2"></i
              ></span>
              <span>Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  
      <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
  
    </ul>
  </nav>
</div>

<!-- Produit -->
<div class="offcanvas-body p-0">
  <nav class="navbar-dark">
    <ul class="navbar-nav">
      <li>
        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
          Produit
        </div>
      </li>
      <!--gerer Categorie-->
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/gerer-categorie"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Gérer les Catégories</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--gerer produit-->
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/gerer-sous-categorie"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Gérer les sous catégories</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--gerer Marque-->
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/gerer-marque"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Gérer les Marques</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--gerer produit-->
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/gerer-produit"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Gérer les produits</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    
      <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
  
    </ul>
  </nav>
</div>

<!--Publicité-->

<div class="offcanvas-body p-0">
  <nav class="navbar-dark">
    <ul class="navbar-nav">
      <li>
        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
          Publicité
        </div>
      </li>
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/pub-haut"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Pub Haut</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="admin/pub-principale" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-book-fill"></i></span>
          <span>Pub Principale</span>
        </a>
      </li>
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/pub-droite"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Pub Droite</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/pub-milieu"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Pub milieu</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class="nav-link px-3 sidebar-link"
          data-bs-toggle="collapse"
          href="admin/pub-bas"
        >
          <span class="me-2"><i class="bi bi-layout-split"></i></span>
          <span>Pub Bas</span>
        </a>
        <div class="collapse" id="layouts">
          <ul class="navbar-nav ps-3">
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-speedometer2"></i
                ></span>
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    
      <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
      <li>
        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
          Addons
        </div>
      </li>
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-graph-up"></i></span>
          <span>Charts</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"><i class="bi bi-table"></i></span>
          <span>Tables</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

</div>