<app-pub-haut></app-pub-haut>
<app-navbar></app-navbar>
<section class="h-100 h-custom" >
  <div class="container   py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div  class="col-12 text-center ">
        <br>
        <h1 style="font-size: 30px;"><b>Centre d'assistance</b></h1>
        <h5 style="color: grey;font-size: medium;">Comment pouvons-nous vous aider ?</h5>
        <br>
        <div class="row ">
          <div style=" height: 380px;" class="col-lg-6 p-2 ">
          <app-appel></app-appel>
          </div>
          <div style="height: 380px;" class="col-lg-6 p-2" >
          <app-discute></app-discute>
          </div>
         
      </div>
      <br>
      <br>
    </div>
 </div>
 </div>
</section>    
<app-footer></app-footer>
