<div >
    <table class="table">
        <tbody>
            <tr (click)="centre_assistance()">
                <td><i class="fas fa-headphones"></i></td>
                <td style="font-size: 12px;">Centre d'assistance</td>
              </tr>
              <tr>
                <td><i class="fas fa-box-open"></i></td>
                <td style="font-size: 12px;"> Passer commande</td>
              </tr>
          <tr>
            <td ><i class="fas fa-comment-dollar"></i></td>
            <td style="font-size: 12px;"> méthode de paiement</td>
          </tr>
        </tbody>
      </table>
</div>