<div class="container">
    <div style="height: 100%;margin-top: 10px;" class="card">
      <div class="card-body" >
         <br>
         <form style="margin-left: 60px;margin-right: 60px;">
          <div class="form-group">
            <label class="d-flex justify-content-start"  style="font-weight: bold;color: rgb(25, 91, 167);font-family:  'Arial Narrow', Arial, sans-serif;" for="exampleFormControlInput1">Nouveau mot de passe </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""  >
          </div> 
          <div class="form-group">
            <label class="d-flex justify-content-start"  style="font-weight: bold;color: rgb(25, 91, 167);font-family:  'Arial Narrow', Arial, sans-serif;" for="exampleFormControlInput1">Confirmation</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" >
          </div>       
          <br>
          <input type="submit" style="width: 100%; background-color:  rgb(25, 91, 167);color: azure;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="btn" value="changer le mot de passe "/>
  
          <h5 style="margin-top: 20px;margin-bottom: 20px;">Nouveau Chez TuniZon <a href="cree-compte" style="color: rgb(25, 91, 167);">changer le mot de passe </a></h5>
        </form>
  
      </div>
    </div>
  
  </div>
  