
<app-pub-haut></app-pub-haut>
<app-navbar></app-navbar>
<section class="h-100 h-custom" >
    <div class="container py-2 h-100">    
<br>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a href="get_produit" class="text-body">Commander</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      
                    </div>
                  </div>
  
                  <div class="card p-2" >
                    <b class=""><a href="" class="text-body" style="font-weight: bold;">Information Personnel</a></b>
                    <hr>
                    <div class="">
                        <div class="d-flex justify-content-between"    >
                            <div class="card-body " *ngFor="let i of infoPer">
                                <div class="row">
                                    <div class="col-lg-4 mb-2" >
                                        <div style="font-weight: bold;">Nom</div>
                                    </div>
                                    <div class="col-lg-8 mb-2" >
                                        <div>{{i.nomUser}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 mb-2" >
                                        <div style="font-weight: bold;">Prénom</div>
                                    </div>
                                    <div class="col-lg-8 mb-2" >
                                        <div>{{i.prenomUser}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 mb-2" >
                                        <div style="font-weight: bold;">Email</div>
                                    </div>
                                    <div class="col-lg-8 mb-2" >
                                        <div>{{i.emailUser}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 mb-2" >
                                        <div style="font-weight: bold;">Numéro</div>
                                    </div>
                                    <div class="col-lg-8 mb-2" >
                                        <div>{{i.telephoneUser}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-4 mb-2" >
                                      <div style="font-weight: bold;">Adresse</div>
                                  </div>
                                  <div class="col-lg-8 mb-2" >
                                      <div>{{i.adresseUser}}</div>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                  <br>
                  <div class="card p-2" >
                    <b class=""><a href="get_produit" class="text-body" style="font-weight: bold;">Produits</a></b>
                    <hr>
                    <div class="" *ngFor="let i of panierfinal ;  let index = index;">
                        <div class="d-flex justify-content-between"    >
                            <div class="d-flex flex-row align-items-center">
                           
                                {{i.nomProduit}}
                            </div>
                            <div class="d-flex flex-row align-items-center">
                           
                                {{i.prixProduit - i.prixProduit * i.remiseProduit / 100 }}  DT           
                            </div>

                          </div>
                    </div>
                  </div>
                  <br>
                  <div class="card p-2" >
                    <b class=""><a href="get_produit" class="text-body" style="font-weight: bold;">Paiement</a></b>
                    <hr>
                    <div class="" >
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (change)="payer_liv()" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          Payer à la livraison
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (change)="payer_cart()"  id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                          Payer avec carte
                        </label>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-lg-5">
  
                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">RÉSUMÉ DU PANIER</h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                          <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                      </div>
                      <div>
                        <p class="mb-0">Il exist {{count}} objets dans le panier</p>
                      </div>
  
                      <hr class="my-4">
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">Subtotal</p>
                        <p class="mb-2"><b>{{total}} DT</b></p>
                      </div>
  
                      <div class="d-flex justify-content-between">
                        <p class="mb-2">frais de livraison</p>
                        <p class="mb-2"><b>8.00 DT</b></p>
                      </div>
  
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(Incl. taxes)</p>
                        <p class="mb-2"><b>{{total_plus}} DT</b></p>
                      </div>
  
                      <button type="button" class="btn btn-info btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>{{total_plus}} DT</span>
                          <span (click)="AddCommande()">Passer la commande</span>
                        </div>
                      </button>
  
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
