<app-pub-haut></app-pub-haut>
<app-navbar></app-navbar>
<section class="h-100 h-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
<div class="row" style="margin-right: 20px; margin-left: 20px;">
  <div  class="col-12 text-center ">
    <h1 style="font-size: 30px;"><b>Se Connecter</b></h1>
    <h5 style="color: grey;font-size: medium;"> Vous avez deja un compte à TuniZon ?</h5>
    <br>
    <div class="row" >
      <div style="height: 380px;" class="col-12" >
      <app-connect2></app-connect2>
      </div>
     
  </div>
  <br>
  <br>
</div>
</div>
</div>
</div>
</section>
  <app-footer></app-footer>
