<app-pub-haut></app-pub-haut>
<app-navbar></app-navbar>
<div class="row" style="margin-right: 80px; margin-left: 80px;">
  <div  class="col-12 text-center ">
    <br>
    <div class="row" >
        <div style="height: 300px;" class="col-12 ">
        <app-header-categorie></app-header-categorie>
        </div>
        <div  class="col-12 ">
            <app-list-sous-categorie></app-list-sous-categorie>
        </div>
            <app-produits></app-produits>
    </div>
  <br>
  <br>
</div>
</div> 
<app-footer></app-footer>
