
<app-pub-haut></app-pub-haut>
<app-navbar></app-navbar>
<section class="h-100 h-custom" >
    <div class="container py-2 h-100">    
<br>
      <div class="row">
        <div class="col">
          <div class="card m-5">
            <div class="card-body p-4">
  
                <div class="alert alert-success" role="alert">
                    Votre commande à bien passer !
                  </div>
  <div class="row mt-5">
        <div class="col-6 " style="text-align: center;">
            <a href="/"><div class="btn btn-light mr-3">Autre commande</div></a>
        <a href="vos-commandes"><div class="btn btn-dark ">Consulter ma commande</div>
        </a>
        </div>


  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
