    <!-- top navigation bar -->
    <app-admin-navbar></app-admin-navbar>
    <!-- top navigation bar -->
    <div class="row">
        <div class="col-2">
            <!-- sidebar -->
            <app-admin-sidebar></app-admin-sidebar>
            <!-- sidebar -->
        </div>
        <div class="col-10"> 
          <section class="h-100 h-custom" >
            <div class="container py-2 h-100">
              <div class="row d-flex justify-content-center  h-100">
                <div class="col-12">  
                <main class="mt-5 pt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                          <br>
                          <h4 class="d-flex justify-content-center " style="font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Gérer les Catégories</h4>
                          <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="card">
                              <div class="card-header" style="color: rgb(121, 121, 121);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                          <span><i class="bi bi-table me-2"></i></span> 
                          Ajouter une catégorie
                        </div>
                        <form  [formGroup]="dataa" (ngSubmit)="AddItem()" >
                          <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <input class="form-control" type="text"  formControlName="categorie" placeholder="Catégorie .." aria-label="default input example">
                                </div>
                                <div class="col-4">
                                    <button  type="submit" class="btn btn-dark">envoyer</button>
                                </div>
                            </div>

                            </div>
                        </form>
                    
                        </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <div class="card">
                        <div class="card-header" style="color: rgb(121, 121, 121);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: large;">
                          <span><i class="bi bi-table me-2"></i></span> List des Catégories
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col" style="width: 70%;">Catégorie</th>
                                    <th scope="col">Supprimer</th>
                                    <th scope="col">modifier</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr  *ngFor="let i of categories ; let index = index">
                                    <td style="font-weight: bold;">{{i.categorie}}</td>
                                    <td class="pl-5"><i (click)="spprimer(i._id,i.categorie)" class="fas fa-trash-alt"></i></td>
                                    <td class="pl-5" ><a  href="/admin/gerer-categorie#demo-modal" (click)="modifier(i.categorie , i._id)"><i  style="color: #000;"  class="fas fa-edit"></i></a></td>
                                  </tr>
                                </tbody>
                              </table> 
                              <div id="demo-modal" class="modal">
                                <div class="modal__content">
                                  <h3>{{categorie_select}}</h3>
                                  <form action="/admin/gerer-categorie" [formGroup]="data2" (ngSubmit)="UpdateItem(id_select,categorie_select)"  >
                                    <div class="card-body">
                                      <div class="row">
                                          <div class="col-8">
                                              <input class="form-control" type="text"  formControlName="upd_categorie" placeholder="" aria-label="default input example">
                                          </div>
                                          <div class="col-4">
                                           <input  type="submit" value="modifier" class="btn btn-dark ">
                                          </div>
                                      </div>
                                      </div>
                                  </form> 
                                  <div>
                                  </div>
                                  <a href="/admin/gerer-categorie#close"  class="modal__close">&times;</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </main>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

